
BasedOnStyle: google
IndentWidth: 4
ColumnLimit: 120
AllowShortBlocksOnASingleLine: Empty
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Allman
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
PackConstructorInitializers: NextLine
BreakConstructorInitializers: AfterColon
NamespaceIndentation: All